<nav aria-label="Primary navigation">
  <ul
    class="text-muted-foreground absolute right-4 top-4 flex gap-3 text-xs font-medium sm:right-8 sm:top-6 sm:gap-6 sm:text-sm"
  >
    <li>
      <a
        href="#how-it-works"
        class="hover:text-primary after:bg-primary relative text-lg transition-colors after:absolute after:bottom-[-2px] after:left-0 after:h-[2px] after:w-0 after:transition-all after:duration-300 after:ease-in-out hover:after:w-full"
        >How It Works</a
      >
    </li>
    <li>
      <a
        href="#features"
        class="hover:text-primary after:bg-primary relative text-lg transition-colors after:absolute after:bottom-[-2px] after:left-0 after:h-[2px] after:w-0 after:transition-all after:duration-300 after:ease-in-out hover:after:w-full"
        >Features</a
      >
    </li>
    <li>
      <a
        href="#who"
        class="hover:text-primary after:bg-primary relative text-lg transition-colors after:absolute after:bottom-[-2px] after:left-0 after:h-[2px] after:w-0 after:transition-all after:duration-300 after:ease-in-out hover:after:w-full"
        >Who It's For</a
      >
    </li>
  </ul>
</nav>
